
/* The styling for sign-in / sign-up / forgetPassword is same */
/* It is the main container */

:root{
	--orange:#ff7800;
	--black:#130f40;
	--light-color:#666;
	--box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	--border: .2rem solid rgba(0, 0, 0, .1);
	--outline: .1rem solid rgba(0, 0, 0, .1);
	--outline-hover: .2rem solid rgba(--black);	
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10vh auto 0 auto;
    min-height: 50vh;
    width: 30vw;
    padding: 30px;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.formInput{
    height: auto;
    width: 100%;
    /* margin-left: 10%; */
}
/* Form heading */
.formInput h1{
    margin-left: 30%;
    color:black;
}

.formInput form{
    margin-left: 10%;
    margin-top: 10%;
}

form label{
    color: var(--black);
    font-weight: 600;
}

form input{
    width: 90%;
    height: 45px;
    margin: 20px 0px;
    border-radius: .3rem;
    padding: 14px;
}
/* Styling for the button, and submit button */
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.submitButtons{
    width: 30%;
    margin-left: 10%;
    background-color: white;
    border-radius: .4rem;
    transition: outline transform .1s;
}

.submitButtons:hover{
    box-shadow: var(--box-shadow);
    transform: translateY(-5px);
}

.forgetPassword a{
    text-decoration: none;
}

.forgetPassword a:hover{
    text-decoration: underline;
}

.submitButtons button{
    width: 100%;
    border-radius: 30px;
}

.extraStuff{
    margin-top: 20px;
}